@media (max-width: 600px){
    #box-main{ 
        max-width: 350px;
        margin: 100px auto;

        border-radius: 5px;

        box-shadow: 5px 10px 2em rgba(0, 0, 0, .2);
    }

    #boxOne{
        width: 100%;
        border-radius: 5px 5px 0 0;
        padding: 30px 20px;

        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .boxOne-header{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .boxOne-paragraph{
        line-height: 1.5rem;        
    }

    #boxGrid{
        width: 100%;
    }

    #boxTwo{
        padding: 25px 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .boxTwo-price{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .price{
        display: flex;
        align-items: center;
    }

    .boxTwo-price strong{
        margin-right: 10px;
    }

    #boxTwo button{
        height: 50px;
        font-weight: 700;
        font-size: 1rem;
        border-radius: 5px;

        margin-top: 5px;

        box-shadow: 5px 10px 2em rgba(0, 0, 0, .1);

        cursor: pointer;
    }
    
    #boxThree{
        border-radius: 0 0 5px 5px;
        padding: 25px 20px 25px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .boxThree-link{
        row-gap: 5px;
    }
}

@media only screen and (min-width: 600px){
    #box-main{
        max-width: 350px;
        margin: 100px auto;

        border-radius: 5px;

        box-shadow: 5px 10px 2em rgba(0, 0, 0, .2);
    }

    #boxOne{
        width: 100%;
        border-radius: 5px 5px 0 0;
        padding: 30px 20px;

        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .boxOne-header{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .boxOne-paragraph{
        line-height: 1.5rem;        
    }

    #boxGrid{
        width: 100%;
    }

    #boxTwo{
        padding: 25px 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .boxTwo-price{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .price{
        display: flex;
        align-items: center;
    }

    .boxTwo-price strong{
        margin-right: 10px;
    }

    #boxTwo button{
        height: 50px;
        font-weight: 700;
        font-size: 1rem;
        border-radius: 5px;

        margin-top: 5px;

        box-shadow: 5px 10px 2em rgba(0, 0, 0, .1);

        cursor: pointer;
    }

    

    #boxThree{
        border-radius: 0 0 5px 5px;
        padding: 25px 20px 25px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .boxThree-link{
        row-gap: 5px;
    }
}

@media only screen and (min-width: 992px){
    #box-main{ 
        
        display: grid;
        grid-template-rows: 250px 300px;

        justify-content: normal;
        align-items: normal;


        max-width: 800px;
        margin: 150px auto;

        border-radius: 5px;

        box-shadow: 5px 10px 2em rgba(0, 0, 0, .2);
    }

    #boxOne, #boxTwo, #boxThree{
        padding: 60px 50px 10px;
    }

    .boxOne-header header{
        font-size: 1.6rem;
    }
    
    .boxOne-header p, #boxTwo header, .boxThree-header{
        font-size: 1.2rem;    
    }

    .boxOne-paragraph{
        font-size: 1rem;
    }

    #boxGrid{
        display: grid;
        grid-template-columns: 400px 400px;
        width: 100%;
    }

    #boxTwo{
        border-radius: 0 0 0 5px;
        width: 400px;
    }

    .boxTwo-price strong{
        font-size: 1.9rem;
    }
    
    .boxTwo-price span{
        font-size: 1rem;
    }

    #boxTwo button{
        margin-top: 10px;

        box-shadow: 5px 10px 2em rgba(0, 0, 0, .1);

        cursor: pointer;
    }

    

    #boxThree{
        width: 400px;
        border-radius: 0 0 5px 0;
    }



    .boxThree-link a{
        font-size: .9rem;
    }
}